.ipynb_checkpoints/
*/.ipynb_checkpoints/
checkpoints/
*/checkpoints/
__pycache__
*/__pycache__

.idea
.vs
.vscode
*.pyproj

data
*/data
experimental_result
*/experimental_result

*.db
*.jpg
*.png
*.pkl
*.csv
*.xlsx
*.doc
*.docx